.titulo{
	color: #fff;
	font-weight: 200; 
	padding-left: 35%;	
}
.pie{
	background-color: #033C73;
	color: #fff;
	padding: 20px 30px 20px 30px ;
	height: 60px;
	font-size: 16px;
	font-weight: 200; 
	bottom: 0;
	width:100%;
}
.btn-violeta{
	background-color:#9A50BD ;
	color: #fff;
}
body{
	background-color: #ccc;
}
.fondo-titulo{
	background-color: #38B800;
	color:#fff;
}
.vertical-center {

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-lado{
	position: fixed;
	z-index: 1;
	right:20px;
	top: 120px;
}